requests>=2.19.1
pytest>=6.2.5
allure-pytest>=2.5.1
//pytest-rerunfailure>=4.1
pytest-testconfig>=0.1.0
pytest-logger>=0.4.0
pip~=21.1.2
configparser~=5.2.0
wheel~=0.36.2
cryptography~=36.0.1
py~=1.11.0
utils~=1.0.1
setuptools~=57.0.0
future~=0.18.2
selenium~=4.1.0
